<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.xoj.mapper.ProblemMapper">

    <resultMap id="map_problemList" type="com.xiao.xoj.pojo.vo.ProblemVO">
        <id column="pid" property="pid"></id>
        <result column="problem_id" property="problemId"></result>
        <result column="title" property="title"></result>
        <result column="difficulty" property="difficulty"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <select id="getProblemList" resultMap="map_problemList">
        SELECT
            DISTINCT p.id AS pid, p.problem_id, p.title, p.difficulty, p.type
        FROM
            problem p
        <if test="tid != null and tid.size() > 0">
            RIGHT JOIN
            (
                SELECT
                    problem_id as pid
                FROM
                    problem_tag
                <where>
                    <foreach collection="tid" item="id" open="" separator=" or" close="">
                        tag_id = #{id}
                    </foreach>
                </where>
                GROUP BY pid
            ) pt
            ON p.id = pt.pid
        </if>
        <where>
            p.auth = 1
            <if test="keyword != null and keyword != ''">
                and (
                    p.title like concat('%', #{keyword}, '%') or p.problem_id like concat('%', #{keyword}, '%')
                )
            </if>
            <if test="difficulty != null">
                and p.difficulty = #{difficulty}
            </if>
            <if test="type != null">
                and p.type = #{type}
            </if>
        </where>
        ORDER BY length(p.problem_id) asc, p.problem_id asc
    </select>
</mapper>
