<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.xoj.mapper.StudioAwardsMapper">

    <select id="getAwardsList" resultType="com.xiao.xoj.pojo.entity.about.StudioAwards">
        select *
        from studio_awards sa
        <where>
            <if test="keyword != null and keyword != ''">
                sa.name like concat('%', #{keyword}, '%') or
                sa.author like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by get_time desc
    </select>
</mapper>
